.main-navbar{
    position: relative;


    & .top-bar{
        background: black;
    }

    & .middle-bar{
            position: relative;
      

        & .sign-in{
            display: none;
            @media (min-width: 992px){
                display: inline-block;
          }
        }

        & .bag-icon-container{
            cursor: pointer;
           position: relative;
           display: inline-block;
          
           top: -2rem;
           
           &::before{
               content: '';
              min-height: 20px;
              min-width: 20px;
              display: block;
           }
       
           @media (min-width: 768px){
            top: 0rem;
            }

          

            & .bag-number, & .bag-icon{
                position: absolute;
                top: 50%;
                left:50% ;
                transform: translate(-50%,-50%);
            }

            & .bag-icon{
                width: 25px;
                
            }

            & .bag-number{
                font-size: 12px;
               display: inline-block;
            
                padding-top: 7px;
                padding-right: 1px;
               
            }



        }

      
    }


}