.button{
    display: inline-block;
    padding: 5px 15px;
    margin-bottom: 10px;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    text-decoration: none;
    color: #000;
    border: none;
    background-color: #fff;
  
  


}