.home-page{


min-height: 1400px;

 & .free-shipping-title{
     background: #dd1e2a;
 
 }   

 & .pick-up-title{
     background:#cccccc ;
 }

 & .free-shipping-title, .pick-up-title{
    @media (min-width: 992px){
        display: none;
  }
 }


}

